{% extends "base.html" %} 
 {% block content %}
 <title>CE和LE探针的NSH结果</title>
 <script src="../static/js/jquery.base64.js"></script>
 <script src="../static/js/tableExport.js"></script>
 <script type="text/javascript">
        $(function () {
            var pretime = $('#pretime').html();
            //farward引物样式
            $('.fmatch').each(function () {
                $(this).click(function(){
                    $('#pretime').html(pretime);
                    var matchText = $(this).text();
                    //alert(matchText);
                    var regExp = new RegExp(matchText, 'g');
                    var html = $('#pretime').html();
                    var newHtml = html.replace(regExp, '<span class="fhighlight">' + matchText + '</span>');
                    $('#pretime').html(newHtml);
                    flag = 1;

                    if (flag) {
                        if ($(".fhighlight").size() > 1) {
                            var _top = $(".fhighlight").eq(0).offset().top;
                            $("html,body").animate({
                                "scrollTop": _top
                                }, 500)
                            }
                        }
                    
                    })
            });
            //internal 引物样式
            
            $('.imatch').each(function () {
                $(this).click(function(){
                    $('#pretime').html(pretime);
                    var matchText = $(this).text();
                    //alert(matchText);
                    var regExp = new RegExp(matchText, 'g');
                    var html = $('#pretime').html();
                    var newHtml = html.replace(regExp, '<span class="ihighlight">' + matchText + '</span>');
                    $('#pretime').html(newHtml);
                    flag = 1;

                    if (flag) {
                        if ($(".ihighlight").size() > 1) {
                            var _top = $(".ihighlight").eq(0).offset().top;
                            $("html,body").animate({
                                "scrollTop": _top
                                }, 500)
                            }
                        }
                    
                    })
            });
            
            //reverse 引物样式
            $('.rmatch').each(function () {
                $(this).click(function(){
                    $('#pretime').html(pretime);
                    var matchText = $(this).text();
                    //alert(matchText);
                    var regExp = new RegExp(matchText, 'g');
                    var html = $('#pretime').html();
                    var newHtml = html.replace(regExp, '<span class="rhighlight">' + matchText + '</span>');
                    $('#pretime').html(newHtml);
                    flag = 1;

                    if (flag) {
                        if ($(".rhighlight").size() > 1) {
                            var _top = $(".rhighlight").eq(0).offset().top;
                            $("html,body").animate({
                                "scrollTop": _top
                                }, 500)
                            }
                        }
                    
                    })
            });
            
        });
    </script>
    <style type="text/css">
        .fhighlight { background: url("http://www.kunkundashen.cn/site_medias/imgs/forward_bg_r.png") repeat-x; color: black; font-size:20px; }
        .rhighlight { background: url("http://www.kunkundashen.cn/site_medias/imgs/reverse_bg_r.png") repeat-x; color: black; font-size:20px;}
        .ihighlight { background: url("http://www.kunkundashen.cn/site_medias/imgs/internal_bg_r.png") repeat-x;  color: black; font-size:20px;}
</style>
<div class="panel panel-info" >
<div class="panel-heading">
        <b>生产QuantiMAT 2.0 探针引物序列（另存为xls格式文件）</b>
</div>
<div class="container" style="padding:20px;height:auto;"> 
<table id="tb_pl_m" class="table table-bordered">
<thead>
<tr>
<th>Probe Number</th>
<th>Sequence</th>
<th>Function</th>
</tr>
<tr>
<th colspan="3" style="word-break:break-all; word-wrap:break-word; white-space:inherit">
<div id="pretime">
GGGCCGCCCGCGCGCGCGCGGGCGGCCCGAGGCTCGGCAGCGGCGGCGGCGGACACGGCGGCGGCGGACACAGCGGCGGCGGCGGACACGGCGGCGGCGGCGCTGACACCTCCCACCATGGACAGCTTCGACTTAGCCCTGCTCCAGGAATGGGACCTCGAGTCGCTGTGTGTCTATGAACCGGACAGGAATGCGTTACGGAGGAAAGAGCGAGAAAGAAGAAGTCAAGAAACACAGCAGGACAGTGGCAGCTTTAACTCCGGTT
</div>
</th>
</tr>
</thead>
<tbody>
{% for cfl in CE_final_list %}
<tr>
<td>{{ cfl.0 }}</td>
<td>{{ cfl.1 }}</td>
<td>CP</td>
</tr>
{%endfor%}
{% for lffl in LE_final_final_list %}
<tr>
<td>{{ lffl.0 }}</td>
<td>{{ lffl.1 }}</td>
<td>BP</td>
</tr>
{%endfor%}
{% for bfl in BL_final_list %}
<tr>
<td>{{ bfl.0 }}</td>
<td><a title="点击查找引物位置"  style="cursor:pointer" class="fmatch">{{ bfl.1 }}</a></td>
<td>BL</td>
</tr>
{%endfor%}
</tbody>
<tfoot>
<tr>
<td>-无-</td><td>-无-</td><td>-无-</td>
</tr>
</tfoot>
</table>
<div style="text-align:center;">
<button type="submit" onclick="$('#tb_pl_m').tableExport({ type: 'excel', separator: ';', escape: 'false' });"  class="btn btn-primary" style="text-shadow: black 5px 3px 3px;"><span class="glyphicon glyphicon-file"></span>导出探针序列</button>
</div>
</div>
</div>
<!-- /#mainWrap -->
{% endblock %}